
html, body {
  margin: 0;
  padding: 0;
}


.welcome{
  text-align: center;
}

#hunt-form{
  position: relative;
  top: -23em;
  left: 9em;
  width: 308px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  position: absolute;
  visibility: visible;
  left: 14em
}

#startgame {
  position: relative;
  left: 0em;
  top: 0em;
}

#addclue {
  position: relative;
  top: -23em;
  left: 0em;
  width: 9em;
}

#container {
  padding-top: 10px;
}

.huntinfo {
  position: relative;
  top: 5em;
}
