


#hunt-form{
  position: relative;
  top: -27em;
  left: 9em;
  width: 308px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  position: absolute;
  visibility: visible;
  left: 14em
}

#startgame {
  position: relative;
  left: 10em;
  top: 2em;
}

#addclue {
  position: relative;
  top: 4px;
}

#members {
  overflow:scroll;

}
